<div class="composant-size">
  <div class="road-map">
    <img src="../assets/barre.png" alt="barre" class="barre" />
  </div>
  <div class="boxes-about-1">
    <div class="title-about">À propos de moi</div>
    <div class="description">
      <div>
        <img
          src="../assets/avatar.svg"
          alt="avatar"
          height="280px"
          width="280px"
          class="avatar"
        />
      </div>
      <div>
        <mat-card class="mat-card-description">
          <mat-card-content>
            <p>
              Je m'appelle <strong>Clémence De Clercq</strong> , et je suis
              actuellement Développeuse web SIG au
              <strong> Museum National d'Histoire Naturelle </strong> .
            </p>
            <p>
              Ma passion pour la géoinformatique a débuté en 2019. Après des
              études en environnement, j'ai souhaité compléter mes connaissances
              avec une maîtrise en géomatique. Ceci m'a permis une meilleure
              compréhension des données environnementales et de leurs portées.
            </p>
            <p>
              Dans le souhait de pouvoir vulgariser l'information et de la
              valoriser, des notions en développement web m'étaient nécessaires.
              Je me suis alors formée en autodidacte afin de me spécialiser en
              conception d'applications SIG
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="boxes">
      <div class="boxe-passion">
        <mat-card class="boxe-passion-content">
          <mat-card-header class="boxe-passion-header">
            <mat-card-title>Mes passions</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="text-hobbies">
              <div>
                <li>Piloter des ULM multiaxe</li>
                <li>Faire de la plongée</li>
              </div>
              <div>
                <li>Les échecs</li>
                <li>Voyager</li>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card class="mat-card-competences">
          <mat-card-header class="mat-card-competences-header">
            <mat-card-title
              >Mes compétences en développement web</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <div class="boxes-competences">
              <div class="boxes-1-competences">
                <img
                  src="../assets/html.svg"
                  alt="html"
                  matTooltip="HTML"
                  matTooltipPosition="below"
                  height="40px"
                  width="40px"
                />
                <img
                  src="../assets/css.svg"
                  alt="css"
                  height="40px"
                  width="40px"
                  matTooltip="CSS"
                  matTooltipPosition="below"
                />
                <img
                  src="../assets/js.svg"
                  alt="js"
                  height="40px"
                  width="40px"
                  matTooltip="Javascript"
                  matTooltipPosition="below"
                />
                <img
                  src="../assets/typescript.svg"
                  alt="typescript"
                  height="40px"
                  width="40px"
                  matTooltip="Typescript"
                  matTooltipPosition="below"
                />
              </div>
              <div class="boxes-2-competences">
                <img
                  src="../assets/NestJS.svg"
                  alt="nestjs"
                  height="40px"
                  width="40px"
                  matTooltip="Nest.js"
                  matTooltipPosition="above"
                />
                <img
                  src="../assets/nodejs.svg"
                  alt="nodesjs"
                  height="40px"
                  width="40px"
                  matTooltip="Node.js"
                  matTooltipPosition="above"
                />
                <img
                  src="../assets/angular.svg"
                  alt="angular"
                  height="40px"
                  width="40px"
                  matTooltip="Angular"
                  matTooltipPosition="above"
                />
                <img
                  src="../assets/postgresql.svg"
                  alt="postgresql"
                  height="40px"
                  width="40px"
                  matTooltip="Postgresql"
                  matTooltipPosition="above"
                />
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card class="mat-card-competences">
          <mat-card-header class="mat-card-competences-header">
            <mat-card-title
              >Mes compétences en logiciels SIG / outils 3D</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <div class="boxes-2-competences">
              <img
                src="../assets/geoserver.png"
                alt="geoserver"
                height="50px"
                width="150px"
                matTooltip="Geoserver"
                matTooltipPosition="below"
                style="z-index: 4"
              />
              <img
                src="../assets/Qgis.svg"
                alt="qgis"
                height="70px"
                width="70px"
                matTooltip="QGis"
                matTooltipPosition="below"
                style="z-index: 4; padding-bottom: 18px"
              />
              <img
                src="../assets/esri.svg"
                alt="esri"
                height="70px"
                width="70px"
                matTooltip="Esri"
                matTooltipPosition="below"
                style="z-index: 4"
              />
            </div>
            <div class="boxes-3-competences">
              <img
                src="../assets/Cesium_logo.svg"
                alt="cesium"
                height="40px"
                width="40px"
                matTooltip="Cesium"
                matTooltipPosition="above"
                style="z-index: 4"
              />
              <img
                src="../assets/Three_Icon.svg"
                alt="threejs"
                height="40px"
                width="40px"
                style="margin-left: 70px"
                matTooltip="Tree.js"
                matTooltipPosition="above"
                style="z-index: 4"
              />
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
