<h1 mat-dialog-title>EcoMap</h1>
<div mat-dialog-content class="texte">
  Le projet EcoMap a été réalisé pour l'entreprise Boralex dans le cadre d'un
  stage effectué auprès du bureau d'étude Écosphère. <br /><br />Ce projet avait
  pour objectif principal de mettre en place, de façon pérenne, une base de
  données cartographique accessible en ligne afin d’assurer une meilleure
  gestion des données de biodiversité et de mesures E-R-C-A
  (Eviter-Réduire-Compenser-Accompagner). L'utilisation des outils open source
  Metabase et Geonode ont permis la valorisation de ces données au travers la
  création de cartes web et de tableaux de bord. <br /><br />
  Pour réaliser ce projet, trois sous-objectifs avaient été définis à savoir:<br /><br />
  -Centraliser les données de biodiversité et de mesures E-R-C-A
  <br />-Pérenniser le projet dans le temps <br />
  -Valoriser les données de biodiversité et de mesures E-R-C-A
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fermer</button>
</div>
