<h1 mat-dialog-title>CartoBruit</h1>
<div mat-dialog-content>
  Le projet CartoBruit a été réalisé dans le cadre d'un cours spécial réalisé à
  l'Université Laval.<br /><br />
  Ce projet avait pour objectif principal de proposer une interface web
  permettant au client de visualiser des données acoustiques 2D/3D, d’interagir
  avec et de disposer d'un outil de dataviz afin de faciliter la compréhension
  de ces données.<br /><br />
  Les sous-objectifs définis étaient les suivants :<br /><br />
  - mise en place d’une architecture informatique adéquate <br />- développement
  d’une cartographie web pour la visualisation, la consultation et la
  modification des données acoustiques <br />
  - développement d’un mini tableau de bord<br />
  - proposer une interface permettant de visualiser les données acoustiques dans
  un environnement 3D
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fermer</button>
</div>
