<div class="composant-2-size">
  <div class="composant-formation">
    <div class="title-formation">Formation</div>
    <div class="content-map">
      <div class="map-boxe">
        <div id="map" class="first-place"></div>
      </div>
      <div class="barre-laterale">
        <div *ngIf="schoolToSee" class="content-right-lateral-bar">
          <div>
            <img src="{{ schoolToSee.icone }}" class="icone-university" />
          </div>
          <div class="university-title">
            <strong>{{ schoolToSee.titre }}</strong>
          </div>
          <div
            *ngFor="let diplome of schoolToSee.diplome"
            class="university-description"
          >
            {{ diplome.name }}
          </div>
          <div class="university-description">
            <button mat-raised-button (click)="downloadPdf(schoolToSee.id)">
              Télécharger mon diplôme
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
