<div class="content-home">
  <div class="image-paris">
    <img src="../assets/paris-3.png" alt="Carte route" />
  </div>
  <div class="bloc-box">
    <div class="bloc-column">
      <div>
        <div class="bloc-one">
          <img src="../assets/cL.svg" alt="logo" height="270px" width="270px" />
          <div class="name">
            <strong>Clémence De Clercq</strong>
          </div>
          <div class="job">Développeuse web SIG</div>
          <button mat-button class="button-csv" (click)="downloadCV()">
            Télécharger mon CV
          </button>
          <div class="social-media">
            <a href="https://github.com/clemdc1" target="_blank">
              <img
                src="../assets/github-mark-white.svg"
                alt="logo"
                height="30px"
                width="30px"
                style="margin-top: 5px; margin-right: 10px"
              />
            </a>
            <a
              href="https://linkedin.com/in/clémence-de-clercq-517851155"
              target="_blank"
            >
              <img
                src="../assets/logo-linkedin.svg"
                alt="logo"
                height="40px"
                width="40px"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="bloc-two">
        <div class="mad-card-content">
          <mat-card class="card">
            <pre>
          <span class="font-bold">1</span>  class <strong class="jaune">Person</strong> &#123;
        </pre>
            <pre>
          <span class="font-bold">2</span>    constructor () &#123;
        </pre>
            <pre>
          <span class="font-bold">3</span>      this.name=<strong class="jaune">"Clémence De Clercq"</strong>;
        </pre>
            <pre>
          <span class="font-bold">4</span>      this.status=<strong class="jaune">"Développeuse web SIG"</strong>;
        </pre>
            <pre>
          <span class="font-bold">5</span>      this.localisation=<strong class="jaune">"France"</strong>;
        </pre>
            <pre>
          <span class="font-bold">6</span>      this.traits=[<strong class="jaune">"DEV"</strong>,<strong style="color: #FFC536;">"SIG"</strong>,<strong style="color: #FFC536;">"DATA"</strong>];
        </pre>
            <pre>
          <span class="font-bold">7</span>   &#125;
        </pre>
            <pre>
          <span class="font-bold">8</span>  &#125;
        </pre>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
